OPENAI_API_KEY=sk-xxx
USER=default_user

# LLM Configuration (optional - defaults to openai/gpt-4o-mini)
LLM_PROVIDER=minimax
LLM_MODEL=MiniMax-M2.7
LLM_API_KEY=api_key
LLM_BASE_URL=https://api.minimax.io/v1
# OLLAMA_BASE_URL=http://localhost:11434

# Embedder Configuration (optional - defaults to openai/text-embedding-3-small)
EMBEDDER_PROVIDER=ollama
EMBEDDER_MODEL=nomic-embed-text
# EMBEDDER_API_KEY=
EMBEDDER_BASE_URL=http://host.docker.internal:11434
EMBEDDING_DIMS=768
